.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--app-bg-color);
  z-index: 20;
}

.scroller {
  overflow-y: auto;
  flex: 1;
}

.bar {
  padding: 0 5px;
}
